html,
body {
  width: 100%;
  font: 400 18px 'Exo2';
}
* {
  margin: 0;
  padding: 0;
}
html,
* html .page .l-content {
  height: 100%;
}
body {
  height: auto;
  min-height: 100%;
  position: relative;
}
html {
  background: url("../css/images/bgs.png"), #949494;
  background: url("../css/images/bgs.png"), -moz-linear-gradient(left, #949494 0%, #525252 29%, #484848 51%, #292929 75%, #000 100%);
  background: url("../css/images/bgs.png"), -webkit-gradient(left top, right top, color-stop(0%, #949494), color-stop(29%, #525252), color-stop(51%, #484848), color-stop(75%, #292929), color-stop(100%, #000));
  background: url("../css/images/bgs.png"), -webkit-linear-gradient(left, #949494 0%, #525252 29%, #484848 51%, #292929 75%, #000 100%);
  background: url("../css/images/bgs.png"), -o-linear-gradient(left, #949494 0%, #525252 29%, #484848 51%, #292929 75%, #000 100%);
  background: url("../css/images/bgs.png"), -ms-linear-gradient(left, #949494 0%, #525252 29%, #484848 51%, #292929 75%, #000 100%);
  background: url("../css/images/bgs.png"), linear-gradient(to right, #949494 0%, #525252 29%, #484848 51%, #292929 75%, #000 100%);
}
.page {
  width: 75%;
  height: 100%;
  margin: 105px auto 0;
  color: #fff;
  position: relative;
}
/*Style for image*/
figure {
  max-width: 33em;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*Style for header*/
header {
  z-index: 9998;
  height: 104px;
}
.general {
  width: 99%;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.additional {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
  zoom: 1;
}
.bg-green {
  background-color: rgba(166,232,227,0.7);
  border-bottom: 1px solid #d2e4e3;
}
.bg-coral {
  background-color: #f58271;
}
.bg-white {
  background-color: #fff;
}
/*Style for content block*/
.l-content {
  height: auto;
  padding-bottom: 320px;
}
/*Styles for footer*/
footer {
  position: absolute;
  bottom: 0;
  height: 280px;
  width: 100%;
  background-image: url("images/fbg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: rgba(245,134,117,0.8);
  padding: 15px 0 27px;
  margin-bottom: 40px;
}
.b-icons {
  display: inline-block;
}
.b-icons:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 36px;
  height: 36px;
  margin: 10px 3px 0;
  display: inline-block;
  content: "";
}
.fb:before {
  background-position: 0px 0px;
}
.tw:before {
  background-position: -60px 0px;
}
.go:before {
  background-position: -120px 0px;
}
.yt:before {
  background-position: -180px 0px;
}
/*Styles for menu*/
nav {
  text-align: center;
}
menu {
  list-style-type: none;
  margin: 20px 0 10px;
}
.variant {
  overflow: hidden;
}
.h-menu {
  display: inline-block;
  margin: 0 3.5%;
}
.logo {
  width: auto;
}
/*Trapezoid*/
.trapezoid-green {
  border-top: 6px solid #769b98;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.trapezoid-coral {
  border-bottom: 6px solid #f9b8ae;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.trapezoid-gray {
  border-top: 6px solid #cfcfcf;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.trapezoid-white {
  border-bottom: 6px solid #cfcfcf;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/*Styles for l-player*/
.photo-author {
  width: auto;
  margin: 0 auto;
  border: 5px solid #fff;
  border-radius: 130px;
}
.b-title {
  text-align: center;
  margin: 0 auto;
  background-color: #eee;
}
#ticker-previous:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 13px;
  height: 22px;
  background-position: 0px -60px;
  float: left;
  margin-top: -5px;
  display: inline-block;
  content: "";
  pointer-events: all;
}
#ticker-next:after {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 13px;
  height: 22px;
  display: inline-block;
  background-position: -60px -60px;
  float: right;
  margin-top: -5px;
  content: "";
  pointer-events: all;
}
.item-hour {
  background-color: rgba(0,0,0,0.05);
}
#vertical-ticker {
  overflow: hidden;
}
.item-track {
  background-color: rgba(244,244,244,0.7);
}
.item-active {
  background-color: rgba(245,130,113,0.95);
}
.not-now p:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: 0px -120px;
  margin: 0px 7px -5px 0;
  content: "";
}
.now {
  width: 33.6%;
}
.now p:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: -60px -120px;
  margin: -2px 7px -5px -2px;
  content: "";
}
.item-name-track {
  text-indent: 5%;
}
.star-rating:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 34px;
  height: 32px;
  display: inline-block;
  margin: -7px 7px 0 3px;
  background-position: 0px -180px;
  content: "";
}
.top-rating:before {
  margin: 0;
}
/*Styles for player*/
.jp-border {
  border-radius: 20px;
}
.jp-gui {
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.jp-jplayer,
.jp-audio {
  width: auto;
}
.jp-play-bar {
  position: relative;
  z-index: 99;
  height: 6px;
  padding-left: 10px;
}
.jp-play-bar div {
  top: -2px;
  right: 0;
  position: absolute;
  background: url("../css/images/sprites.png") no-repeat center;
  width: 10px;
  height: 10px;
  background-position: -120px -120px;
}
.jp-play:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 27px;
  height: 32px;
  display: inline-block;
  margin-top: 5px;
  background-position: -120px -240px;
  content: "";
}
.jp-pause:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 23px;
  height: 32px;
  display: inline-block;
  margin-top: 5px;
  background-position: -120px -180px;
  content: "";
}
.item-play:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 27px;
  height: 32px;
  display: inline-block;
  background-position: -180px -240px;
  content: "";
}
.item-pause:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 23px;
  height: 32px;
  display: inline-block;
  background-position: -180px -180px;
  content: "";
}
.jp-mute {
  display: inline-block;
}
.jp-controls .jp-mute {
  float: left;
}
.jp-volume-bar {
  margin: 8px 5px;
  float: left;
  width: 80px;
  height: 8px;
  border-radius: 20px;
  background-color: #b6cecc;
  cursor: pointer;
}
.jp-volume-bar-value {
  background-color: #618380;
  height: 8px;
  position: relative;
  padding-left: 10px;
  border-radius: 20px;
}
.jp-volume-bar-value .handle {
  top: -1px;
  right: 0;
  position: absolute;
  background: url("../css/images/sprites.png") no-repeat center;
  width: 10px;
  height: 10px;
  background-position: -180px -120px;
}
.jp-progress {
  background-color: #3b3b3b;
  position: absolute;
  top: 18px;
  left: 15%;
}
.jp-time-holder {
  position: relative;
  padding-left: 15%;
  overflow: hidden;
}
.b-player-progress {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 15px;
  background-color: #618380;
}
.jp-mute:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 18px;
  height: 15px;
  display: inline-block;
  margin-top: 5px;
  background-position: -60px -240px;
  content: "";
}
.b-time-holder {
  padding-left: 0;
}
.name-track:after {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 15px;
  height: 14px;
  display: inline-block;
  margin: 0 0 -2px 9px;
  background-position: -60px -180px;
  content: "";
}
.item-banner {
  display: block;
}
/*Styles for DJ*/
.b-dj-ul {
  overflow: hidden;
}
.item-photo-person {
  display: inline-block;
  width: 20%;
  float: left;
  height: auto;
  vertical-align: top;
}
.one {
  display: block;
}
.dj-a figure {
  width: 100%;
}
.dj-a figure figcaption {
  display: none;
}
.dj-a figure:hover figcaption {
  display: block;
  background-color: #f58271;
  width: 100%;
  margin-top: -33px;
  height: 33px;
  position: relative;
  padding: 3px 10px 0;
}
/*Styles for Singer*/
.b-rating {
  border-radius: 100%;
  border: 3px solid #a9d5cd;
}
.b-title-favorite {
  background-color: #65beb7;
  text-align: center;
  padding: 20px;
  vertical-align: top;
}
.b-faces-voting {
  overflow: hidden;
}
figure {
  width: 100%;
  height: auto;
  position: relative;
  vertical-align: top;
}
figure figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  vertical-align: top;
  text-align: center;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  background-color: rgba(245,130,113,0.8);
}
figure:hover figcaption {
  opacity: 1;
}
.item-level {
  background-color: #f58271;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  opacity: 1;
}
.total {
  padding: 5px 7px;
  float: right;
  top: 4%;
  right: 4%;
  position: absolute;
  z-index: 25;
  background-color: #f58271;
}
.vote-btn {
  cursor: pointer;
}
/*Styles for more*/
.b-more,
.b-more-arrow {
  height: 30px;
}
.with-icon {
  cursor: pointer;
}
.with-icon:before {
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 23px;
  height: 13px;
  margin: 1% 0 0 47%;
  display: inline-block;
  content: "";
}
.arrow-down-dj:before {
  background-position: -120px -60px;
}
a:hover.arrow-down-dj:before {
  background-position: -120px -60px;
}
.arrow-down:before {
  background-position: -120px -60px;
}
a:hover.arrow-down:before {
  background-position: -120px -60px;
}
.arrow-top:before {
  background-position: -180px -60px;
}
a:hover.arrow-top:before {
  background-position: -180px -60px;
}
.arrow-top-dj:before {
  background-position: -180px -60px;
}
a:hover.arrow-top-dj:before {
  background-position: -180px -60px;
}
/*Styles for l-voting*/
.b-shadow {
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}
.b-news-image {
  display: inline-block;
  width: auto;
}
/*Margins & Paddings*/
.h-padding-t {
  padding-top: 1% !important;
}
.h-padding-t2 {
  padding-top: 3% !important;
}
.h-padding-tb2 {
  padding: 3% 0 !important;
}
.h-padding {
  padding: 3% !important;
}
.h-padding-tb {
  padding: 1.5% 0 !important;
}
.h-margin-t {
  margin-top: 1% !important;
}
.h-margin-t2 {
  margin-top: 5% !important;
}
.h-margin-tmax {
  margin-top: 30% !important;
}
.h-margin-tb {
  margin: 1% 0 !important;
}
.maximum {
  width: 25%;
}
#b-news {
  width: 98%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.gradient-left {
  position: absolute;
  width: 10%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  background: -moz-linear-gradient(left, #fff 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #fff), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, #fff 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left, #fff 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left, #fff 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
}
.gradient-right {
  position: absolute;
  width: 10%;
  top: 0;
  right: 0;
  z-index: 10;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #fff));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
}
#horiz_container {
  margin: 0px;
  width: 1650px;
}
.item-news {
  width: 16%;
  display: inline-block;
}
#scrollbar {
  padding-bottom: 50px;
  padding-top: 30px;
  position: relative;
}
#track {
  margin-top: 40px;
  position: absolute;
  left: 5%;
  top: 0;
  width: 90%;
  height: 1px;
  background: #c4c4c4;
}
#dragBar {
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("../css/images/sprites.png") no-repeat -9999px -9999px;
  width: 43px !important;
  height: 44px;
  display: inline-block;
  margin: -12px 0px 0 3px;
  background-position: 0px -240px;
  content: "";
}
.b-menu {
  cursor: pointer;
}
.right {
  float: right !important;
}
.hidden {
  display: none;
}
#container {
  height: 150px;
  margin: 0 auto;
}
.highcharts-button {
  display: none;
}
