html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

div[class*="grid"] {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

div[class*="inner"] {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

div[class*="span"] {
  float: left;
}

div[class*="modul"] {
  float: left;
  padding: 0 10px;
  width:100%;
}

div[class*="columns"] {
  float: left;
  padding: 0 10px;
  width:50%;
}

div[class*="push"], div[class*="pull"] {
  position: relative;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

 .grid_1 {
  width: 6.333%;
}

 .grid_2 {
  width: 14.666%;
}

 .grid_3 {
  width: 22.999%;
}

 .grid_4 {
  width: 31.333%;
}

 .grid_5 {
  width: 39.666%;
}

 .grid_6 {
  width: 47.999%;
}

 .grid_7 {
  width: 56.333%;
}

 .grid_10 {
  width: 81.333%;
}

 .grid_12 {
  width: 98%;
}

/* `Span >> 12 Columns
----------------------------------------------------------------------------------------------------*/

 .span_1, .inner_1 {
  width: 8.333%;
}

 .span_2 {
  width: 16.666%;
}

 .span_3 {
  width: 24.999%;
}

 .span_4, .inner_4 {
  width: 33.333%;
}

 .span_6 {
  width: 49.999%;
}

 .span_7 {
  width: 58.333%;
}

 .span_10 {
  width: 83.333%;
}

 .span_11 {
  width: 91.666%;
}

 .span_12, .inner_12 {
  width: 100%;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.prefix_1 {
  padding-left: 8.333%;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

 .push_1 {
  left: 8.333%;
}

 .push_2 {
  left: 16.666%;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*Media Queries*/
div[class*="visible"] {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.hidden-xl {
  display:none !important;
}

@media only screen and (max-width:1200px){
  .visible-lg-3 {
    width: 31.333%;
  }

  .hidden-lg {
    display:none;
  }
}

@media only screen and (max-width:960px){
  .visible-md-1 {
    width:98%;
  }

  .visible-md-2 {
    width: 48%;
  }

  .visible-md-3 {
    width: 31.333%;
  }

  .hidden-md {
    display:none !important;
  }

  .hidden-prefix {
    padding-left: 0;
  }

  .hidden-push {
    left:0;
  }
}

@media only screen and (max-width:768px){
  .visible-sm-3 {
    width:31.333%;
  }

  .visible-sm-3-1 {
    width:98%;
  }

  .visible-sm-3-2 {
    width:64.666%;
  }

  .hidden-sm {
    display:none !important;
  }
}

@media only screen and (max-width:620px){
  .visible-xs-3-1 {
    width:31.333%;
  }

  .visible-xs-3-2 {
    width:64.666%;
  }

  .visible-xs-1 {
    width:98%;
  }

  div[class*="mini"] {
    width:100%;
    float: left;
    margin:0;
  }

  .hidden-xs {
    display:none !important;
  }
}

@media only screen and (max-width:435px){
  .visible-xxs-1 {
    width:98%;
  }
}