@media screen and (max-width:1240px){
	body {
		font-size:0.9em;
	}

	.maximum {
		width:33.333%;
	}

	.with-icon:before {
		margin: 3% 0 0 47%;
	}

	.h-menu {
		margin:0 3%;
	}

	.b-rating {
		margin:20% auto;
	}
}

@media screen and (max-width:960px){
	body {
		font-size:1em;
	}

	h1 {
		font-size:2.4em;
	}

	h5 {
		font-size: 0.8em
	}

	.page {
		width:85%;
	}

	header {
		padding-top:15px;
	}

	.item-photo-person {
		width: 25%;
	}

	nav {
		margin-top:15px;
	}

	.maximum {
		width:33.333%;
	}

	.b-title-favorite {
		padding: 5% 1%;
	}

	.now p:before {
		margin: 0px 7px -5px 4px;
	}

	.b-rating {
		margin:25% auto;
	}
}

@media screen and (max-width:768px){
	.item-photo-person {
		width: 33.333%;
	}

	h1 {
		font-size:2.2em;
	}

	h5 {
		font-size:0.7em;
	}

	footer {
		background-image: none;
	}
}

@media screen and (max-width:617px){
	menu {
		margin: 0;
	}

	footer {
		padding: 5% 0 7% 3%;
	}

	h1 {
		font-size:1.8em;
	}

	h4 {
		font-size:0.8em;
	}
}

@media screen and (max-width:535px){
	h1 {
		font-size:2em;
	}

	p {
		font-size:0.75em;
	}

	#b-news {
		height:323px;
	}

	.photo-author {
		width:90%;
		height:auto;
		margin-top:3px;
	}

	.page {
		margin-top: 50px;
	}

	.angle-center {
		width:95%;
	}

	.angle-coral {
	    border-bottom: 6px solid rgba(137,184,180,.8);
	}

	.angle-coral-center {
		background-color: rgba(137,184,180,.8);
	}

	.bg-green {
		border-bottom: none;
	}

	.b-dj-ul {
		height:130px;
	}

	.b-faces-voting {
		overflow: hidden;
		height: 95px;
	}

	#bar {
		display:none;
	}

	.item-news {
		display:block;
		width:21%;
	}

	.h-menu {
		margin: 0 2.5%;
	}
}

@media screen and (max-width:435px){
	h1 {
		font-size:1.8em;
	}

	h3 {
		font-size:0.8em;
	}

	p, small {
		font-size: 0.6em;
	}

	#b-news {
		height:338px;
	}

	footer {
		padding: 15px 0 20px 20px;
	}

	.angle-center {
		width:94%;
	}

	.b-author {
		margin-top:15px;
	}

	.item-play:before {
		background: url("images/sprites.png") no-repeat -9999px -9999px;
		width: 24px;
		height: 29px;
		display: inline-block;
		background-size: 320px;
		background-position: -160px -213px;
		content: "";
	}

	.item-pause:before {
		background: url("images/sprites.png") no-repeat -9999px -9999px;
		width: 24px;
		height: 29px;
		display: inline-block;
		background-size: 320px;
		background-position: -160px -160px;
		content: "";
	}

	.star-rating:before {
		background: url("images/sprites.png") no-repeat -9999px -9999px;
		width: 27px;
		height: 25px;
		display: inline-block;
		margin-top: 9px;
		background-size: 280px;
		background-position: 0px -140px;
		content: "";
		vertical-align: top;
	}

	.logo {
		margin-left: 15px;
	}

	.b-title-favorite {
		margin: 0;
		padding: 12px 5px;
		line-height: 40px;
	}

	.b-faces-voting {
		overflow: hidden;
	}

	.item-photo-person {
		width:33.333%;
		display:inline-block;
	}

	.item-news {
		display:block;
		width:19%;
	}
}

@media screen and (max-width:375px){
	.item-news {
		display:block;
		width:17%;
	}

	.angle-green-center, .angle-coral-center, .angle-white-center, .angle-gray-center {
		width:93%;
	}

	h5 {
		font-size:0.6em;
	}
}

@media all and (orientation:portrait) {
	footer {
		background-image: none;
	}
}