@font-face {
    font-family: Light;
    src: url(../fonts/Exo2.0-Thin.otf);
}

@font-face {
    font-family: Regular;
    src: url(../fonts/Exo2.0-ExtraLight.otf);
    src: url(../fonts/Exo2.0-ExtraLight.eot);
    src: url(../fonts/Exo2.0-ExtraLight.eot?#iefix)format("embedded-opentype"),
    url(../fonts/Exo2.0-ExtraLight.woff) format("woff"),
    url(../fonts/Exo2.0-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Semibold;
    src: url(../fonts/Exo2.0-Regular.otf);
    src: url(../fonts/Exo2.0-Regular.eot);
    src: url(../fonts/Exo2.0-Regular.eot?#iefix)format("embedded-opentype"),
    url(../fonts/Exo2.0-Regular.woff) format("woff"),
    url(../fonts/Exo2.0-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Bold;
    src: url(../fonts/Exo2.0-Semibold.otf);
    src: url(../fonts/Exo2.0-Semibold.eot);
    src: url(../fonts/Exo2.0-Semibold.eot?#iefix)format("embedded-opentype"),
    url(../fonts/Exo2.0-Semibold.woff) format("woff"),
    url(../fonts/Exo2.0-Semibold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Medium;
    src: url(../fonts/Exo2.0-Medium.otf);
    src: url(../fonts/Exo2.0-Medium.eot);
    src: url(../fonts/Exo2.0-Medium.eot?#iefix)format("embedded-opentype"),
    url(../fonts/Exo2.0-Medium.woff) format("woff"),
    url(../fonts/Exo2.0-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1 {
	font-size:2.8em;
	line-height:1.2em;
}

h2 {
	font-size:1.2em;
}

h3 {
	font-size:1em;
	line-height:18px;
}

h4 {
	font-size:0.9em;
	line-height:18px;
}

h5 {
	font-size:0.9em;
	line-height:14px;
}

h6 {
	font-size:0.8em;
	line-height:14px;
}

p {
	font-size:0.8em;
	line-height:18px;
}

small {
	font-size:0.7em;
	line-height:14px;
}

.light {
	font-family: Light;
}

.regular {
    font-family: Regular;
}

.semibold {
    font-family: Semibold;
}

.bold {
    font-family: Bold;
}

.font-gray {
	color:#3a3a3a;
}

.font-white {
	color:#fff;
}

.font-coral {
	color:#f58271;
}

.font-salmon {
	color:#c75545;
}

.font-dark {
	color:#575757;
}

.font-taupe {
	color:#363636;
}

.font-black {
	color:#000;
}

.uppercase {
	text-transform: uppercase;
}