qwerty = 100%

allauto = auto

basecolor = #000
basebgcolor = #ff9

gray-color = #3a3a3a
white-color = #fff
coral-color = #f58271
salmon-color = #c75545
dark-color = #575757
taupe-color = #363636
black-color = #000

fitalic = italic
fbold = bold

nulls = 0

bnone = none

normals = normal

dblock = block

quotess = ''

exo = 'Exo2'

fleft = left

marpad = 0 1%

thinweight = 100
lightweight = 200
regularweight = 400
mediumweight = 500
semiboldweight = 600

size = 18px
sizeone = 2.8em
sizetwo = 1.8em
sizethree = 1.2em
sizefour = 1em
sizefive = 0.9em
sizesix = 0.8em
sizeseven = 0.7em

prelative = relative