@font-face
    font-family 'Exo2'
    src url(../fonts/Exo2.0-Thin.otf)
    src url(../fonts/Exo2.0-Thin.eot)
    src url(../fonts/Exo2.0-Thin.eot?#iefix)format("embedded-opentype")
    src url(../fonts/Exo2.0-Thin.woff) format("woff")
    src url(../fonts/Exo2.0-Thin.ttf) format("truetype")
    font-style normal
    font-weight 100

@font-face
    font-family 'Exo2'
    src url(../fonts/Exo2.0-ExtraLight.otf)
    src url(../fonts/Exo2.0-ExtraLight.eot)
    src url(../fonts/Exo2.0-ExtraLight.eot?#iefix)format("embedded-opentype")
    src url(../fonts/Exo2.0-ExtraLight.woff) format("woff")
    src url(../fonts/Exo2.0-ExtraLight.ttf) format("truetype")
    font-style normal
    font-weight 200

@font-face
    font-family 'Exo2'
    src url(../fonts/Exo2.0-Regular.otf)
    src url(../fonts/Exo2.0-Regular.eot)
    src url(../fonts/Exo2.0-Regular.eot?#iefix)format("embedded-opentype")
    src url(../fonts/Exo2.0-Regular.woff) format("woff")
    src url(../fonts/Exo2.0-Regular.ttf) format("truetype")
    font-style normal
    font-weight 400

@font-face
    font-family 'Exo2'
    src url(../fonts/Exo2.0-Medium.otf)
    src url(../fonts/Exo2.0-Medium.eot)
    src url(../fonts/Exo2.0-Medium.eot?#iefix)format("embedded-opentype")
    src url(../fonts/Exo2.0-Medium.woff) format("woff")
    src url(../fonts/Exo2.0-Medium.ttf) format("truetype")
    font-style normal
    font-weight 500

@font-face
    font-family 'Exo2'
    src url(../fonts/Exo2.0-Semibold.otf)
    src url(../fonts/Exo2.0-Semibold.eot)
    src url(../fonts/Exo2.0-Semibold.eot?#iefix)format("embedded-opentype")
    src url(../fonts/Exo2.0-Semibold.woff) format("woff")
    src url(../fonts/Exo2.0-Semibold.ttf) format("truetype")
    font-style normal
    font-weight 600

h1
	font sizeone/sizethree exo

h2
	font sizethree exo

h3 
	font sizefour/sizefive exo

h4
	font sizefive/sizefive exo

h5
	font sizefive/sizefour exo

h6
	font sizesix/sizefive exo

p
	font sizesix/sizethree exo

small
	font sizeseven/sizefive exo

.thin
    font-weight 100

.light
	font-weight lightweight

.regular
	font-weight regularweight

.semibold
	font-weight mediumweight

.bold
	font-weight semiboldweight

.font-gray 
	color gray-color

.font-white 
	color white-color

.font-coral 
	color coral-color

.font-salmon 
	color salmon-color

.font-dark 
	color dark-color

.font-taupe 
	color taupe-color

.font-black 
	color black-color

.uppercase
	text-transform uppercase